<!DOCTYPE html>
<html>
<head>
  <title>All Sales Parcels</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body>
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
  <div class="container">
    <%= yield %>
  </div>
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
  <img src="https://i.imgur.com/EkHLnwk.png">
</body>
</html>
